.main-work-box1 {
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/20240303 121713.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    list-style: none;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}

.main-work-box-haedam1{
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/haedam/KakaoTalk_Photo_2024-07-31-22-47-31 001.jpeg");
    background-size: cover;
    height: 250px;
    background-position: center;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}

.main-work-box-haedam2{
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/haedam/KakaoTalk_Photo_2024-07-31-22-47-48 001.jpeg");
    background-size: cover;
    height: 250px;
    background-position: center;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}

.main-work-box {
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/KakaoTalk_Photo_2024-07-31-17-34-46.jpeg");
    background-size: cover;
    height: 250px;
    background-position: center;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}

.main-work-box-wxvin1{
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/wxvin/KakaoTalk_Photo_2024-08-01-00-22-06 001.png");
    background-size: cover;
    height: 250px;
    background-position: center;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}

.main-work-box-wxvin2{
    width: 93%;
    border-radius: 10px;
    background-image: url("../image/wxvin/KakaoTalk_Photo_2024-08-01-00-22-24 001.png");
    background-size: cover;
    height: 250px;
    background-position: center;
    padding: 0;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 5px 5px 7px gray;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page {
    margin: 0;
    padding: 0;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display:flex;
}
.modal-content{
    width: 350px;
    max-height: 80vh; /* 최대 높이 설정 */
    background-color: white;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 10px;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer{
    color: white;
    width: 100%;
    background-color: #131620;
    padding: 7px;
    margin-top: 30px;
}
.button{
    border: none;
    background-color:#3b5aff;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: SUIT;
}